<%- include('head') %>
<body>
    <div class = "main">
        <div class = "overflow">
            <div class = "head">
                <a href = "/profile/" class = "hItem">клиент</a>
                <a href = "/order/" class = "hItem">закази</a>
                <a href = "/try-on/" class = "hItem">примерка</a>
                <a href = "/balance/" class = "hItem">баланс клиента</a>
                <a href = "/entered-materials/" class = "hItem">поступивший материал</a>
                <a href = "/overhead-list/" class = "hItem">склад</a>
                <a href = "" class = "hItem">услуги</a>
                <a href = "" class = "hItem">расходы</a>
                <a href = "" class = "hItem">сост ... склад</a>
            </div>
            <div class = "title">
                <h1><%= titles.h1 %></h1>
            </div>
            <form action = "<%= titles.action %>?<%= _id %>" method = "post">
                <div id = "form">
                    <% array.forEach((item, i) => { %>
                        <div class = "orderCont">
                            <% if(!notFill) { %>
                                <h2 class = "warning">заполните поля</h2>
                            <% } %>
                            <h2 class = "counter"><%= i + 1 %></h2>
                            <div class = "sectionCont">
                                <div class = "section">
                                    <p class = "<%- (enteredMaterials.typeOperation[i] || notFill) ? '' : 'error' %>">тип операции</p>
                                    <select name = "typeOperation[<%= i %>]" class = "typeOperation">
                                        <option value = "">выберите тип операции</option>
                                        <% operation.forEach((item) => { %>
                                            <% if(parseInt(enteredMaterials.typeOperation[i]) === item.value) { %>
                                                <option selected value = <%- item.value %>><%= item.name %></option>
                                            <% } else { %>
                                                <option value = <%- item.value %>><%= item.name %></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                    <p class = "<%- (enteredMaterials.dateOperation[i] || notFill) ? '' : 'error' %>">дата заказа</p>
                                    <input value = "<%- (enteredMaterials.dateOperation[i]) ? enteredMaterials.dateOperation[i] : '' %>" type = "date" name = "dateOperation[<%= i %>]" class = "date">
                                    <p class = "<%- (enteredMaterials.document[i] || notFill) ? '' : 'error' %>">документ</p>
                                    <select name = "document[<%= i %>]" class = "documents">
                                        <option value = "">выберите</option>
                                        <% documentList.forEach(item => { %>
                                            <% if(parseInt(enteredMaterials.document[i]) === item.value) { %>
                                                <option selected value = <%- item.value %>><%= item.name %></option>
                                            <% } else { %>
                                                <option value = <%- item.value %>><%= item.name %></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                    <p>примечание</p>
                                    <textarea name = "noticeOperation[<%= i %>]" class = "noticeOperation" cols = "25" rows = "5"><%= (enteredMaterials.noticeOperation[i]) ? enteredMaterials.noticeOperation[i] : '' %></textarea>
                                </div>
                                <div class = "section">
                                    <p class = "<%- (enteredMaterials.sumEnter[i] || notFill) ? '' : 'error' %>">сумма прихода</p>
                                    <input value = "<%- (enteredMaterials.sumEnter[i]) ? enteredMaterials.sumEnter[i] : '' %>" type = "number" name = "sumEnter[<%= i %>]" class = "sumEnter">
                                    <p class = "<%- (enteredMaterials.paidStatus[i] || notFill) ? '' : 'error' %>">статус</p>
                                    <select name = "paidStatus[<%= i %>]" class = "paidStatus">
                                        <option value = "">выберите статус</option>
                                        <% statusPaid.forEach(item => { %>
                                            <% if(parseInt(enteredMaterials.paidStatus[i]) === item.value) { %>
                                                <option selected value = <%- item.value %>><%= item.name %></option>
                                            <% } else { %>
                                                <option value = <%- item.value %>><%= item.name %></option>
                                            <% } %>
                                        <% }) %>
                                    </select>
                                    <p class = "<%- (enteredMaterials.supplier[i] || notFill) ? '' : 'error' %>">поставщик</p>
                                    <input value = "<%- (enteredMaterials.supplier[i]) ? enteredMaterials.supplier[i] : '' %>" type = "text" name = "supplier[<%= i %>]" class = "supplier">
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class = "btnCont">
                    <div id = "more">еще</div>
                </div>
                <div class = "buttonCont">
                    <a class = "cancel cancelHover" href = "/overhead-list/show?<%= _id %>">назад</a>
                    <input class = "submit buttonHover" type = "submit" value = <%- titles.btn %>>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
let more = document.getElementById('more')
let form = document.getElementById('form')
let orderCont = document.getElementsByClassName('orderCont')
let date = document.getElementsByClassName('date')
let counter = document.getElementsByClassName('counter')
let sumEnter = document.getElementsByClassName('sumEnter')
let supplier = document.getElementsByClassName('supplier')
let documents = document.getElementsByClassName('documents')
let paidStatus = document.getElementsByClassName('paidStatus')
let typeOperation = document.getElementsByClassName('typeOperation')
let noticeOperation = document.getElementsByClassName('noticeOperation')
let i = 0

const copyForm = () => {
    let newElement = document.createElement('div')
    newElement.innerHTML = orderCont[0].outerHTML
    form.appendChild(newElement)
    counter[i + 1].innerHTML = i + 2
    i = i + 1
    date[i].setAttribute('name', `${date[i].getAttribute('name').slice(0, -3)}[${i}]`)
    sumEnter[i].setAttribute('name', `${sumEnter[i].getAttribute('name').slice(0, -3)}[${i}]`)
    supplier[i].setAttribute('name', `${supplier[i].getAttribute('name').slice(0, -3)}[${i}]`)
    documents[i].setAttribute('name', `${documents[i].getAttribute('name').slice(0, -3)}[${i}]`)
    paidStatus[i].setAttribute('name', `${paidStatus[i].getAttribute('name').slice(0, -3)}[${i}]`)
    typeOperation[i].setAttribute('name', `${typeOperation[i].getAttribute('name').slice(0, -3)}[${i}]`)
    noticeOperation[i].setAttribute('name', `${noticeOperation[i].getAttribute('name').slice(0, -3)}[${i}]`)
}

more.addEventListener('click', copyForm)

</script>
</html>
