<%- include('head') %>
<body>
    <div class = "main">
        <div class = "overflow">
            <div class = "head">
                <a href = "/profile/" class = "hItem">клиент</a>
                <a href = "/order/" class = "active">закази</a>
                <a href = "/try-on/" class = "hItem">примерка</a>
                <a href = "/balance/" class = "hItem">баланс клиента</a>
                <a href = "/entered-materials/" class = "hItem">поступивший материал</a>
                <a href = "/overhead-list/" class = "hItem">склад</a>
                <a href = "" class = "hItem">услуги</a>
                <a href = "" class = "hItem">расходы</a>
                <a href = "" class = "hItem">сост ... склад</a>
            </div>
            <div class = "title">
                <h1><%= titles.h1 %></h1>
            </div>
            <form class = "orderCont" action = <%- titles.action + id %> method = "post">
                <% if(!notFill) { %>
                    <h2 class = "warning">заполните поля</h2>
                <% } %>
                <div class = "sectionCont">
                    <div class = "section">
                        <p>номер заказа</p>
                        <input disabled value = <%- numberOrder %> type = "number" name = "numberOrder" id = "numberOrder">
                        <p class = "<%- (order.dateOrder || notFill) ? '' : 'error' %>">дата заказа</p>
                        <% if(disabled) { %>
                            <input disabled value = "<%- new Date(order.dateOrder * 1000).toISOString().slice(0, 10) %>" type = "date" name = "dateOrder" id = "date">
                        <% } else { %>
                            <input value = "<%- (order.dateOrder) ? order.dateOrder : '' %>" type = "date" name = "dateOrder" id = "date">
                        <% } %>
                        <p class = "<%- (order.typeOrder || notFill) ? '' : 'error' %>">тип заказа</p>
                        <% if(disabled) { %>
                            <select disabled name = "typeOrder" id = "typeOrder">
                                <option value = ''>выберите тип заказа</option>
                                <% kindOrder.forEach((item, i) => { %>
                                    <% if(JSON.stringify(order.typeOrder) == JSON.stringify(item._id)) { %>
                                        <option selected title = <%- item.price %> value = <%- item._id %>><%= item.name %></option>
                                    <% } else { %>
                                        <option title = <%- item.price %> value = <%- item._id %>><%= item.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        <% } else { %>
                            <select name = "typeOrder" id = "typeOrder">
                                <option value = ''>выберите тип заказа</option>
                                <% kindOrder.forEach((item, i) => { %>
                                    <% if(JSON.stringify(order.typeOrder) == JSON.stringify(item._id)) { %>
                                        <option selected title = <%- item.price %> value = <%- item._id %>><%= item.name %></option>
                                    <% } else { %>
                                        <option title = <%- item.price %> value = <%- item._id %>><%= item.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        <% } %>
                        <p>материал заказчика</p>
                        <% if(disabled) { %>
                            <textarea disabled name = "customerMaterial" id = "customerMaterial" cols="3" rows="5"><%= (order.customerMaterial) ? order.customerMaterial : '' %></textarea>
                        <% } else { %>
                            <textarea name = "customerMaterial" id = "customerMaterial" cols="3" rows="5"><%= (order.customerMaterial) ? order.customerMaterial : '' %></textarea>
                        <% } %>
                    </div>
                    <div class = "section">
                        <p class = "<%- (order.sumOrder || notFill) ? '' : 'error' %>">сумма заказа</p>
                        <% if(disabled) { %>
                            <input disabled value = "<%- (order.sumOrder) ? order.sumOrder : '' %>" onchange = "handleDebt()" type = "number" name = "sumOrder" id = "sumOrder">
                        <% } else { %>
                            <input value = "<%- (order.sumOrder) ? order.sumOrder : '' %>" onchange = "handleDebt()" type = "number" name = "sumOrder" id = "sumOrder">
                        <% } %>    
                        <p class = "<%- (order.paid || notFill) ? '' : 'error' %>">оплачено</p>
                        <% if(disabled) { %>
                            <input disabled value = "<%- (order.paid) ? order.paid : '' %>" onchange = "handleDebt()" type = "number" name = "paid" id = "paid">
                        <% } else { %>
                            <input value = "<%- (order.paid) ? order.paid : '' %>" onchange = "handleDebt()" type = "number" name = "paid" id = "paid">
                        <% } %>
                        <p>долг</p>
                        <% if(disabled) { %>
                            <input disabled value = "<%- (order.debt) ? order.debt : '' %>" type = "number" name = "debt" id = "debt">
                        <% } else { %>
                            <input value = "<%- (order.debt) ? order.debt : '' %>" type = "number" name = "debt" id = "debt">
                        <% } %>
                        <p class = "<%- (order.customerStatus || notFill) ? '' : 'error' %>">статус клиента</p>
                        <% if(disabled) { %>
                            <select disabled name = "customerStatus" id = "customerStatus">
                                <option value = ''>выберите статус клиента</option>
                                <% customerStatus.forEach(item => { %>
                                    <% if(parseInt(order.customerStatus) === item.value) { %>
                                        <option selected value = <%- item.value %>><%= item.name %></option>
                                    <% } else { %>
                                        <option value = <%- item.value %>><%= item.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        <% } else { %>
                            <select name = "customerStatus" id = "customerStatus">
                                <option value = ''>выберите статус клиента</option>
                                <% customerStatus.forEach(item => { %>
                                    <% if(parseInt(order.customerStatus) === item.value) { %>
                                        <option selected value = <%- item.value %>><%= item.name %></option>
                                    <% } else { %>
                                        <option value = <%- item.value %>><%= item.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        <% } %>    
                        <p class = "<%- (order.executor || notFill) ? '' : 'error' %>">исполнитель</p>
                        <% if(disabled) { %>
                            <select disabled name = "executor" id = "executor">
                                <option value = ''>выберите испольнителя</option>
                                <% employees.forEach(item => { %>
                                    <% if(JSON.stringify(order.executor) == JSON.stringify(item._id)) { %>
                                        <option selected value = <%- item._id %>><%= item.name %></option>
                                    <% } else { %>
                                        <option value = <%- item._id %>><%= item.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        <% } else { %>
                            <select name = "executor" id = "executor">
                                <option value = ''>выберите испольнителя</option>
                                <% employees.forEach(item => { %>
                                    <% if(JSON.stringify(order.executor) == JSON.stringify(item._id)) { %>
                                        <option selected value = <%- item._id %>><%= item.name %></option>
                                    <% } else { %>
                                        <option value = <%- item._id %>><%= item.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        <% } %>
                        <p>ответственный</p>
                        <h2><%= responsible %></h2>
                    </div>
                    <div class = "section">
                        <p>заметки</p>
                        <% if(disabled) { %>
                            <textarea disabled name = "notice" id = "notice" cols = "25" rows = "5"><%= (order.notice) ? order.notice : '' %></textarea>
                        <% } else { %>
                            <textarea name = "notice" id = "notice" cols = "25" rows = "5"><%= (order.notice) ? order.notice : '' %></textarea>
                        <% } %>
                        <p class = "<%- (order.client || notFill) ? '' : 'error' %>">клиент</p>
                        <% if(disabled) { %>
                            <select disabled name = "client" id = "client">
                                <option value = ''>выберите клиента</option>
                                <% customer.forEach((item) => { %>
                                    <% if(JSON.stringify(order.client) == JSON.stringify(item._id)) { %>
                                        <option selected value = <%- item._id %>><%= item.name %></option>
                                    <% } else { %>
                                        <option value = <%- item._id %>><%= item.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        <% } else { %>
                            <select name = "client" id = "client">
                                <option value = ''>выберите клиента</option>
                                <% customer.forEach((item) => { %>
                                    <% if(JSON.stringify(order.client) == JSON.stringify(item._id)) { %>
                                        <option selected value = <%- item._id %>><%= item.name %></option>
                                    <% } else { %>
                                        <option value = <%- item._id %>><%= item.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        <% } %>    
                    </div>
                </div>
                <div class = "buttonCont">
                    <a class = "cancel cancelHover" href = "/order/">отмена</a>
                    <input class = "<%- (disabled)? 'none' : 'submit buttonHover' %>" type = "submit" value = <%- titles.btn %>>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
let typeOrder = document.getElementById('typeOrder')
let sumOrder = document.getElementById('sumOrder')
let paid = document.getElementById('paid')
let debt = document.getElementById('debt')
let form = document.getElementsByClassName('orderCont')
let template = document.getElementById('template')

const handleChange = ({target}) => {
    sumOrder.value = parseInt(target.selectedOptions[0].title)
}
console.log()
typeOrder.addEventListener('change', handleChange)

const handleDebt = () => debt.value = sumOrder.value - paid.value 

</script>
</html>