<%- include('head') %>
<body>
    <div class = "cont">
        <div class = "overflow">
            <div class = "head">
                <a href = "/profile/" class = "hItem">клиент</a>
                <a href = "/order/" class = "hItem">закази</a>
                <a href = "/try-on/" class = "hItem">примерка</a>
                <a href = "/balance/" class = "hItem">баланс клиента</a>
                <a href = "/entered-materials/" class = "active">поступивший материал</a>
                <a href = "/overhead-list/" class = "hItem">склад</a>
                <a href = "" class = "hItem">услуги</a>
                <a href = "" class = "hItem">расходы</a>
                <a href = "" class = "hItem">сост ... склад</a>
            </div>
            <div class = "title">
                <h1>поступивший материалы</h1>
            </div>
            <div class = "secondLayer">
                <div class = "searchCont">
                    <input class = "search" type = "text" placeholder = "поиск">
                </div>
                <div class = "btn">искать</div>
                <a href = "/entered-materials/add<%= _id %>">
                    <div class="center">
                        <i class="far fa-plus-square"></i>
                    </div>
                </a>
                <a href = "" id = "copy">
                    <div class="center">
                        <i class="far fa-copy"></i>
                    </div>
                </a>
                <a href = "" id = "edit">
                    <div class = "center">
                        <i class="far fa-edit"></i>
                    </div>
                </a>
            </div>
            <div class = "spreadsheetContTitle">
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">№</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">тип операции</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">дата прихода</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">документ</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">сумма прихода</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">статус</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">поставщик</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">прим</div>
                </div>
            </div>
            <% entered_materials_db.forEach((item, i) => { %>
                <div class = "spreadsheetCont" data-id = <%- item._id %>>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= i + 1 %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= operation[item.typeOperation].name %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= new Date(item.dateOperation * 1000).toISOString().slice(0, 10) %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= documentList[item.document].name %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.sumEnter %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV debt"><%= statusPaid[item.paidStatus].name %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV debt"><%= item.supplier %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV debt"><%= item.noticeOperation %></div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
<script>
const spreadsheetCont = document.getElementsByClassName('spreadsheetCont')
const copy = document.getElementById('copy')
const edit = document.getElementById('edit')

const select = i => {
        spreadsheetCont[i].classList.add('selectedItem')
        copy.setAttribute('href',`/entered-materials/copy?${spreadsheetCont[i].getAttribute('data-id')}`)
        edit.setAttribute('href',`/entered-materials/edit?${spreadsheetCont[i].getAttribute('data-id')}`)
        for(let j = 0;j < spreadsheetCont.length; j++) {
            j !== i? spreadsheetCont[j].classList.remove('selectedItem'):null
        }
    }

for (let i = 0; i < spreadsheetCont.length; i++ ) {
    spreadsheetCont[i].addEventListener('click', () => select(i))
}

const startFunc = () => {
    for (let i = 0; i < spreadsheetCont.length; i++ ) {
        i % 2 !== 0 && spreadsheetCont[i].classList.add('white')
    }
} 

document.addEventListener('DOMContentLoaded', startFunc)
</script>
</html>