<%- include('head') %>
<body>
    <div class = "cont">
        <div class = "overflow">
            <div class = "head">
                <a href = "/profile/" class = "hItem">клиент</a>
                <a href = "/order/" class = "active">закази</a>
                <a href = "/try-on/" class = "hItem">примерка</a>
                <a href = "/balance/" class = "hItem">баланс клиента</a>
                <a href = "/entered-materials/" class = "hItem">поступивший материал</a>
                <a href = "/overhead-list/" class = "hItem">склад</a>
                <a href = "" class = "hItem">услуги</a>
                <a href = "" class = "hItem">расходы</a>
                <a href = "" class = "hItem">сост ... склад</a>
            </div>
            <div class = "title">
                <h1>закази</h1>
            </div>
            <div class = "secondLayer">
                <div class = "searchCont">
                    <input class = "search" type = "text" placeholder = "поиск">
                </div>
                <div class = "btn">искать</div>
                <a href = "/order/add">
                    <div class="center">
                        <i class="far fa-plus-square"></i>
                    </div>
                </a>
                <a href = "" id = "copy">
                    <div class="center">
                        <i class="far fa-copy"></i>
                    </div>
                </a>
                <a href = "" id = "show">
                    <div class = "center">
                        <i class="far fa-eye"></i>
                    </div>
                </a>
                <a href = "" id = "edit">
                    <div class = "center">
                        <i class="far fa-edit"></i>
                    </div>
                </a>
            </div>
            <div class = "spreadsheetContTitle">
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">№</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">клиент</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">дата заказа</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">сумма заказа</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">оплачено</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">долг</div>
                </div>
            </div>
            <% orders.forEach((item, i) => { %>
                <div class = "spreadsheetCont" data-id = <%- item._id %>>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.numberOrder %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.client.name %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= new Date(item.dateOrder * 1000).toISOString().slice(0, 10) %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.sumOrder %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.paid %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.sumOrder - item.paid %></div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
<script>
const spreadsheetCont = document.getElementsByClassName('spreadsheetCont')
const copy = document.getElementById('copy')
const show = document.getElementById('show')
const edit = document.getElementById('edit')

select = i => {
    spreadsheetCont[i].classList.add('selectedItem')
    copy.setAttribute('href',`./copy?${spreadsheetCont[i].getAttribute('data-id')}`)
    show.setAttribute('href',`./show?${spreadsheetCont[i].getAttribute('data-id')}`)
    edit.setAttribute('href',`./edit?${spreadsheetCont[i].getAttribute('data-id')}`)
    for(let j = 0;j < spreadsheetCont.length; j++) {
        j !== i? spreadsheetCont[j].classList.remove('selectedItem') : null
    }
}

for (let i = 0; i < spreadsheetCont.length; i++ ) {
    spreadsheetCont[i].addEventListener('click', () => select(i))
}

const startFunc = () => {
    for (let i = 0; i < spreadsheetCont.length; i++ ) {
        i % 2 !== 0 && spreadsheetCont[i].classList.add('white')
    }
} 

document.addEventListener('DOMContentLoaded', startFunc)
</script>
</html>