<%- include('head'); %>
<body>
    <div class = "cont">
        <div class = "overflow">
            <div class = "head">
                <a href = "/profile/" class = "active">клиент</a>
                <a href = "/order/" class = "hItem">закази</a>
                <a href = "/try-on/" class = "hItem">примерка</a>
                <a href = "/balance/" class = "hItem">баланс клиента</a>
                <a href = "/entered-materials/" class = "hItem">поступивший материал</a>
                <a href = "/overhead-list/" class = "hItem">склад</a>
                <a href = "" class = "hItem">услуги</a>
                <a href = "" class = "hItem">расходы</a>
                <a href = "" class = "hItem">сост ... склад</a>
            </div>
            <div class = "title">
                <h1><%= userName %></h1>
            </div>
            <div class = "secondLayer">
                <div class = "searchCont">
                    <input class = "search" type = "text" placeholder = "поиск">
                </div>
                <div class = "btn">искать</div>
                <a href = "./create-customer">
                    <div class="center">
                        <i class="far fa-plus-square"></i>
                    </div>
                </a>
                <a href = "" id = "copy">
                    <div class="center">
                        <i class="far fa-copy"></i>
                    </div>
                </a>
                <a href = "">
                    <div class = "center">
                        <i class="far fa-clipboard"></i>
                    </div>
                </a>
                <a href = "">
                    <div class = "center">
                        <i class="far fa-eye"></i>
                    </div>
                </a>
                <a href = "">
                    <div class = "center">
                        <i class="far fa-edit"></i>
                    </div>
                </a>
            </div>
            <div class = "spreadsheetContTitle">
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">№</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">клиент</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">адрес</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">телефон</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">e-mail</div>
                </div>
                <div class = "spreadsheetItem">
                    <div class = "spreadsheetT">дата рождение</div>
                </div>
            </div>
            <% customers.forEach((item, i) => { %>
                <div class = "spreadsheetCont" data-id = <%- i %> >
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%- i+1 %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.name %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.addres %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.telephone %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV"><%= item.e_mail %></div>
                    </div>
                    <div class = "spreadsheetItem">
                        <div class = "spreadsheetV debt"><%= item.birthday && new Date(item.birthday * 1000).toISOString().slice(0, 10) %></div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
<script>
spreadsheetCont = document.getElementsByClassName('spreadsheetCont')
copy = document.getElementById('copy')

select = i => {
    spreadsheetCont[i].classList.add('selectedItem')
    copy.setAttribute('href',`./copy?id=${spreadsheetCont[i].getAttribute('data-id')}`)
    for(let j = 0;j < spreadsheetCont.length; j++) {
        j !== i? spreadsheetCont[j].classList.remove('selectedItem'):null
    }
}

for (let i = 0; i < spreadsheetCont.length; i++ ) {
    spreadsheetCont[i].addEventListener('click', () => select(i))
}

const startFunc = () => {
    for (let i = 0; i < spreadsheetCont.length; i++ ) {
        i % 2 !== 0 && spreadsheetCont[i].classList.add('white')
    }
} 

document.addEventListener('DOMContentLoaded', startFunc)
</script>
</html>